.big_button{
    background: $pruple;
    border:none;
    border-bottom: .6rem solid darken($pruple, 10%);
    color: white;
    font-weight: bold;
    font-size: $size-xl;
    width: 100%;
    margin-bottom: $size-xl;
    padding: $size-large 0;
}

.big_button:disabled{
    opacity: .6;

}
.button{
    background: $pruple;
    border: none;
    border-bottom: .3rem solid darken($pruple,10%);
    color: white;
    font-weight: 100;
    padding: $size-xsmall;
}

.button--link{
    background: none;
    border: none;
    color: rgb(216, 244, 245);
    padding: 0;

}


