
.widget{
    background: $light-blue;
    margin-bottom: $size-xl;
}

.widget-massage{
    color: yellow;
    margin: 0;
    border-bottom: 1px solid lighten($light-blue, 10%);
    padding: $size-large;
    size: $size-large;
    text-align: start;
}

.widget-header{

    background: $blue;
    color: rgb(216, 244, 245);
    display: flex;
    justify-content: space-between;
    padding: $size-small;
}

