//colors

$off-black: #20222b;
$off-white: #e4d9de;
$dark-blue: #333745;
$pruple:#8357c5;
$blue: #3c4251;
$light-blue: #464b5e;


//size
$size-xsmall:1.2rem;
$size-small: 1.6rem;
$size-large: 3.2rem;
$size-xl: 4.8rem;